.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo2{
  height: 10vmin;
  pointer-events: none;
  margin-top: 1.8vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navMKY{
  margin-top: 10px;
  background-color: #B04823;
}

.CartSell{
  width: 10%;
}

.NumSell{
  background-color: black;
  color:whiteM;
  border-radius: 25px;
}

.list ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}
.list li
{
   list-style-type: none;
   display: inline;
   padding-right: 15px;
}

.listado{
  text-align:right;
  padding-right: 5px;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  
}

.child{
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  max-heightgit : 250px;
  background-color: #FAFAFF;
  border-radius: 10px;
  margin-bottom: 15px;
}

.child > a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  text-align: right;
  font-size: 15px;
}

.itemImg{
  width: 40%;
  border-radius: 10px;
}

.buttonCount > button{
   border-radius: 10px;
   margin-right: 5px;
}